@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Krona One', sans-serif;
}

#header {
  width: 100%;
  z-index: 20;
  display: inline-block;
}

#header span {
  font-size: 1.3rem;
}

#header li {
  font-size: 0.9rem;
  margin-right: 1%;
}

.titulo {
  font-size: 40px;
  display: inline-block;
  margin: 5px;
}

.nota {
  padding: 0% 8% 0% 8%;
  font-size: 1rem;
}

.producto {
  display: inline-block;
  border: 1px solid black;
  width: 26%;
  padding: 3%;
}

.form {
  margin: 15px;
  padding: 0% 12% 0% 12%;
}

#footer {
  height: 2rem;
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}

.zoom5s, .hero img {
  animation-name: zoom;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.hero {
  grid-area: hero;
  padding-top: 4%;
}

.hero img {
  width: 100%;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.carousel {
  padding-top: 1rem;
}

.overZoom {
  overflow: hidden;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: #000;
}

.feat {
  width: 40%;
}
