@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Krona One', sans-serif;
}
#header{
	color: #000;
	background-color: #ffb800;
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 20;
}
#header p{
	display: inline-block;
	font-size: 30px;
	text-align: left;
}
#header li{
	display: inline-block;
	font-size: 20px;
	margin-right: 1%;
}
.contenido{
	position: relative;
	top: 70px;
}
.titulo{
	font-size: 40px;
	display: inline-block;
	margin: 5px;
}
.nota{
	padding: 0% 8% 0% 8%;
}
.producto{
	display: inline-block;
	border: 1px solid black;
	width: 26%;
	box-sizing: border-box;
	padding: 3%;
}
.form{
	margin: 15px;
	padding: 0% 12% 0% 12%;
	box-sizing: border-box;
}
#footer {
	font-size: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: white;
	text-align: center;
}
#novedades img{
	margin: 0% 10% 0% 10%;
	width: 80%;
}
a{
	text-decoration: none;
	color: #000;
}